{% extends "base.html" %}

{% block title %}
{% if subject %}
{{ subject.title }} | Cursos
{% else %}
Cursos
{% endif %}
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-lg-4 ">
      <ul class="list-group" id="modules">
        <a class="list-group-item list-group-item-action {% if not subject %} active text-white {% endif %}"
          href="{% url 'courses:course_list' %}">Todos</a>
        {% for s in subjects %}
        <a class="list-group-item list-group-item-action {% if subject == s %} active {% endif %}"
          href="{% url 'courses:course_list_subject' s.slug %}">
          {{ s.title }}
          <br><span class="badge bg-secondary rounded-pill">{{ s.total_courses }}</span>
        </a>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="card-title">
          <h3 id="buttons">
            {% if subject %}
            {{ subject.title }}
            {% else %}
            Cursos
            {% endif %}
          </h3>
        </div>
      </div>
      {% for course in courses %}
      {% with subject=course.subject %}
      <div class="card border-light mb-3">
        <div class="card-header">
          {% if course.owner.get_full_name %}
          {{ course.owner.get_full_name }}
          {% else %}
          Instrutor
          {% endif%}


        </div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'courses:course_detail' course.slug %}">
              {{ course.title }}
            </a>
          </h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
            <span class="badge bg-light">{{ course.total_modules }} módulos</span>

          </p>
          <a type="button" class="btn btn-primary btn-sm float-rigth"
            href="{% url 'courses:course_list_subject' subject.slug %}">{{ subject }}</a>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>



{% endblock %}