{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if object %}
Edit content "{{ object.title }}"
{% else %}
Adicionando Conteúdos
{% endif %}
{% endblock %}
{% block content %}
<h1>
    {%if object %}
    Editar "{{ object.title }}"
    {% else %}
    Adicionar
    {% endif %}
</h1>
<div class="module">
    <h2 class="text-muted">Informações</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input class="btn btn-primary" type="submit" value="Salvar"></p>
    </form>
</div>
{% endblock %}