{% extends "base.html" %}
{% load cache %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<div class="row">
  <!-- Sidebar -->
  <div class="col-lg-4">
    <div class="list-group">
      {% for m in object.modules.all %}
      <a data-id="{{ m.id }}"
        class="list-group-item list-group-item-action {% if m.title == module.title %} active {% endif %}"
        href="{% url 'students:student_course_detail_module' object.id m.id %}">
        {{ m.title }}
        <br>
        <span class="badge rounded-pill bg-light">
          Modulo {{ m.order|add:1 }}
        </span>
      </a>
      {% empty %}
      <p>No modules yet.</p>
      {% endfor %}
      {% for quiz in object.quiz.all %}
      <a class="list-group-item list-group-item-action {% if quiz == quiz %} active {% endif %}" data-id="{{ quiz.id }}"
        href="{% url 'quiz:quiz_start_page' slug=quiz.url %}">
        {{ quiz.title }}
      </a>
      {% empty %}
      <a href="#" class="list-group-item list-group-item-action disabled">Sem perguntas.</a>
      {% endfor %}
    </div>
  </div>

  <div id="content" class="col-lg-8">
    <!-- Page Content -->
    <h1>
      {{ module.title }}
    </h1>
    <div class="module">
      <!-- Depois configurar para 600 -->
      {% cache 0 module_contents module %}
      {% for content in module.contents.all %}
      {% with item=content.item %}
      <h2>{{ item.title }}</h2>
      {{ item.render }}
      {% endwith %}
      {% endfor %}
      {% endcache %}
      {{ module.qui}}
    </div>
  </div>
</div>
</div>



{% endblock %}