{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Editando "{{ course.title }}"
{% endblock %}
{% block content %}
<h1>Editar "{{ course.title }}"</h1>
<div class="module col-lg-8 col-md-offset-2">
    <h2>Modulos do Curso</h2>

    <form method="post">
        {{ formset.management_form|crispy }}
        {% for form in formset %}
        <h3 class="text-muted">Modulo {{ forloop.counter }}</h3>
        {% crispy form %}
        {% endfor %}
        {% csrf_token %}
        <input class="btn btn-lg btn-primary" type="submit" value="Salvar">
    </form>
</div>
{% endblock %}