{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if object %}
Editar Curso "{{ object.title }}"
{% else %}
Criar Novo Curso
{% endif %}
{% endblock %}
{% block content %}
<h1>
    {% if object %}
    Editar curso "{{ object.title }}"
    {% else %}
    Criar novo curso
    {% endif %}
</h1>
<div class="module col-lg-5">
    <h2>Informações</h2>
    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input class="btn btn-lg btn-primary" type="submit" value="Salvar"></p>
    </form>
</div>
{% endblock %}